<div class="container">
    <div class="row">
        <div class="footer-col">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <div class="footer-img">
                    <img src="../images/app-store.png" class="download-img">
                    <img src="../images/play-store.png" class="download-img">
                </div>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-img">
                <img src="../images/logo-white.png" class="logo-img">
            </div>
        </div>
        <div class="footer-col">
            <div class="footer-col-3">
                <h3>Folow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
    </div>
</div>
