<div class="nav-bar">
    <div class="logo">
        <img src="/images/logo.png" width="125px">
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/allproducts">Products</a>
            </li>
            <li>
                <a href="/login">Account</a>
            </li>
            <li>
                <a href="/cart"></a>
                <p class="cart-num"></p>
                <img src="/images/iconfinder_shopping-cart_2561279.png" class="cart-icon" id="cartIcon" alt="">
            </li>
        </ul>
    </nav>
</div>