<!-- This is cart.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="header">
        <div class="container">
            <%- include('./partials/navbar.ejs') %>
        </div>
    </div>
    <div class="main">
        <div class="container main-container">
            <div class="title">
                <h3 class="title-product">Product</h3>
                <h3 class="title-size">Size</h3>
                <h3 class="title-quantity">Quantity</h3>
                <h3 class="title-subtotal">Subtotal</h3>
            </div>
        </div>
        <div class="no-cart"></div>
        <hr>
        <div class="container">
            <p class="total"></p>
        </div>
        <div class="container">
            <a href="/payment" class="btn" id="proceedToPaymentBtn">Proceed to payment</a>
        </div>
    </div>
    <script type="module" src="js/cart.js"></script>
</body>
</html>