.allproducts-img {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    padding: 40px;
    padding-bottom: 10px;
}

.item {
    width: 33%;
    margin-bottom: 50px;
}

.item h3,
.item p {
    padding-left: 40px;
}